body{
  background-color: chartreuse;
}
h1 {
  color: blue;
  text-align: center;
  font-size: 60px;
  font-style: oblique;
  font-family: cursive;
}
h2 {
  color: green;
  font-style: italic;
  text-align: center;
}
p {
  font-family: sans-serif;
  color: #ffff;
}
ul {
  line-height: 20px;
em{
  font-weight: bolder;
}
strong{
  font-style: italic;
}
